body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  width: min(var(--content-width), var(--container-width));
  margin-inline: auto;
}

.main {
  padding-block: 8%;
}