:root {
  --color-primary-400: hsl(178, 100%, 50%);
  --color-primary-500: hsl(215, 51%, 70%);

  --color-neutral: hsl(0, 0%, 100%);
  --color-neutral-800: hsl(215, 32%, 27%);
  --color-neutral-900: hsl(216, 50%, 16%);
  --color-neutral-950: hsl(217, 54%, 11%);

  --font-family: "Outfit", sans-serif;
  --font-size: 18px;

  --content-width: 420px;
  --container-offset: 1rem;
  --container-width: 100% - (var(--container-offset) * 2);

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-neutral);
  background-color: var(--color-neutral-950);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;
}