:root {
  --primary-cyan-400: hsl(178, 100%, 50%);
  --primary-cyan-600: hsl(178, 100%, 30%);
  --primary-blue-500: hsl(215, 51%, 70%);

  --color-neutral: hsl(0, 0%, 100%);
  --color-neutral-800: hsl(215, 32%, 27%);
  --color-neutral-900: hsl(216, 50%, 16%);
  --color-neutral-950: hsl(217, 54%, 11%);

  --font-family: "Outfit", sans-serif;

  --card-border-radius: 1rem;
  --card-img-border-radius: .5rem;

  --content-width: 350px;
  --container-offset: 1.5rem;
  --container-width: 100% - (var(--container-offset) * 2);

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-neutral);
  background-color: var(--color-neutral-950);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;
}