.card {
  padding: 1.5rem;
  background-color: var(--color-neutral-900);
  border-radius: var(--card-border-radius);
  box-shadow: 0 2rem 1rem 2rem hsl(from var(--color-neutral-950) h s calc(l - 2)),
    0 2rem 2rem 4rem hsl(from var(--color-neutral-950) h s calc(l - 1));

  a {
    color: inherit;
    text-decoration: none;
    transition: color .3s, filter .3s ease-out;

    @media (any-hover: hover) {
      &:hover {
        color: var(--primary-cyan-400);
      }
    }

    &:focus {
      outline: transparent;
    }

    &:focus-visible {
      color: var(--primary-cyan-400);
      filter: drop-shadow(0 2px 2px var(--primary-blue-500));
    }

    &:active {
      color: var(--primary-cyan-400);
    }
  }
}

.top {
  margin-block-end: clamp(1rem, 4vw, 1.5rem);
  border-radius: var(--card-img-border-radius);
  line-height: 0;

  button {
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: inherit;
    user-select: none;

    &::after {
      content: url('../../assets/icon-view.svg');
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      border-radius: inherit;
      background-color: hsl(from var(--primary-cyan-400) h s l / 50%);
      cursor: pointer;

      opacity: 0;
      transition: opacity .3s ease-in-out;
    }

    @media (any-hover: hover) {
      &:hover::after {
        opacity: 1;
      }
    }
  }

  img {
    border-radius: var(--card-img-border-radius);
  }
}

.middle {
  display: grid;
  gap: 1rem;
  margin-block-end: .5rem;
}

.title {
  font-size: 22px;

  @media (width > 1024px) {
    font-size: 21px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
}

.price {
  padding-left: 1.1rem;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/icon-ethereum.svg');
}

.countdown {
  padding-left: 1.4rem;

  background-size: 17px 17px;
  background-position: 0 center;
  background-image: url('../../assets/icon-clock.svg');
  background-repeat: no-repeat;
}

.line {
  margin-block: 0;
  width: 100%;
  background-color: var(--color-neutral);
  border-color: var(--color-neutral-800);
}

.bottom {
  display: flex;
  gap: 1rem;
  padding-block-start: .5rem;

  img {
    user-select: none;
  }
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--color-neutral);
}

@media (width > 768px) {
  .description {
    font-size: 18px;
  }

  .middle {
    padding-block-end: 1rem;
  }
}